<div *ngIf="mission">

	<h1 style="font-weight: bold;color: rgb(0, 56, 88);">SpaceX Mission Details</h1>
	<button (click)="goBackDetails(true)"> &#8592; Return to mission list</button>

<div mat-card-title class=" details">
    <img src="{{mission.links.mission_patch_small}}">
    <mat-card-title >Mission - {{mission.mission_name}}</mat-card-title><br/>
    <mat-card-header>Name:</mat-card-header> {{mission.mission_name}} <br/>
    <mat-card-header>Launch Year:</mat-card-header> {{mission.launch_year}}<br/>

    <mat-card-title >Rocket</mat-card-title><br/>
    <mat-card-header>Name:</mat-card-header> {{mission.rocket.rocket_name}}<br/>
    <mat-card-header>Type:</mat-card-header> {{mission.rocket.rocket_type}}<br/>

    <mat-card-title >Launch Site</mat-card-title><br/>
    <mat-card-header>Name:</mat-card-header> {{mission.launch_site.site_name_long}}<br/>

    <mat-card-title >Launch Details</mat-card-title><br/>
    {{mission.details}}<br/>

    <mat-card-title >More Info On Launch Details</mat-card-title><br/>
    <a href="{{mission.links.article_link}}"><mat-icon>assignment</mat-icon></a>
    <a href="{{mission.links.wikipedia}}"><mat-icon>public</mat-icon></a>
    <a href="{{mission.links.video_link}}"><mat-icon>videocam</mat-icon></a>
    </div>
</div>